
*.v2
*.v2
*.v2
API/.vs/API/DesignTimeBuild/.dtbcache.v2
*.v2
API/.vs/API/DesignTimeBuild/.dtbcache.v2
API/.vs/API/v17/.suo
API/bin/Debug/net8.0/API.pdb
API/bin/Debug/net8.0/API.exe
API/bin/Debug/net8.0/API.dll
API/.vs/API/v17/.suo
API/.vs/API/DesignTimeBuild/.dtbcache.v2
API/obj/Debug/net8.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net8.0/API.dll
API/obj/Debug/net8.0/API.pdb
API/obj/Debug/net8.0/API.sourcelink.json
API/obj/Debug/net8.0/apphost.exe
API/obj/Debug/net8.0/ref/API.dll
API/obj/Debug/net8.0/refint/API.dll
API/obj/Release/net8.0/API.AssemblyInfo.cs
API/obj/Release/net8.0/API.AssemblyInfoInputs.cache
API/obj/Debug/net8.0/API.AssemblyInfo.cs
